/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.frame {
	padding:3% 2%;
}

.top-p {
	line-height: 6;
	padding-left: 5%;
}

.books {
	padding-bottom: 10px;
}

.new-book {
	padding-top: 30px;
	padding-bottom: 20px;
}

.book-title-form {
	padding-bottom: 10px;
}

.book-body-form {
	padding-bottom: 10px;
}

.create-book {
	float: bottom;
}

.show-p {
	line-height: 3;
	padding-left: 3%;
}

.error {
	list-style: none;
}